@mixin general-config {
  * {
    margin: 0;
    font-family: $font-family;
  }
}

@mixin fade-in-out-anim {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fadeIn-ph {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin app-general-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  margin-top: 70px;

  &__container {
    width: 100%;
  }
}

@mixin body-configuration {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;

  &.fade-out {
    animation: fadeOut 0.5s forwards;
  }

  &.fade-in {
    animation: fadeIn 0.5s forwards;
  }
}

@mixin app-title-config {
  font-size: 2.1rem;
  letter-spacing: 10px;
  font-weight: $font-weight-max;
  color: white;
  pointer-events: none;
}

@mixin u-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin header-gen-config {
  @include u-flex-space-between();
  margin-bottom: 30px;

  &--icon {
    cursor: pointer;
  }
}

@mixin input-wrapper-config {
  display: flex;
  background-color: white;
  padding: 24px;
  border-radius: 5px;
  margin-bottom: 25px;

  .radio-wrapper {
    display: inline-block;
    margin-right: 15px;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $theme-1-Light-Grayish-Blue;
    display: inline-block;
  }

  input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    font-size: $font-size;
    color: $theme-1-Very-Dark-Grayish-Blue;
    font-weight: $font-weight-min;
  }
}

@mixin todo-container-properties {
  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.1);

  & > div:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .todo {
    @include u-flex-space-between();
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid $theme-1-Very-Light-Grayish-blue;
    opacity: 0;
    animation: fadeIn 0.5s forwards;

    &.fade-out {
      animation: fadeOut 0.2s forwards;
    }

    &__wrapper {
      display: flex;
      align-items: center;
    }

    &__content {
      color: $theme-1-Very-Dark-Grayish-Blue;
      font-weight: $font-weight-min;
      transition: all 200ms ease;

      word-wrap: break-word;
      white-space: normal;
      overflow-wrap: break-word;
    }

    &__icon {
      width: 12px;
      cursor: pointer;
    }

    .checked-state {
      text-decoration: line-through;
      color: $theme-1-Light-Grayish-Blue;
    }

    &__selector {
      -webkit-appearance: none;
      appearance: none;
      position: relative;
      min-width: 20px;
      min-height: 20px;
      border-radius: 50%;
      border: 1px solid $theme-1-Very-Light-Grayish-blue;
      margin-right: 15px;
      cursor: pointer;

      &:not(:checked):hover:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: -1px;
        left: -1px;
        background-image: $bg-linear-gradient;
      }

      &:not(:checked):hover::after {
        content: "";
        position: absolute;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid transparent;
        background-color: white;
      }

      &:checked::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-image: $bg-linear-gradient;
        background-size: 100% 100%;
      }

      &:checked::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        transform: translate(-40%, -40%);
        border-radius: 50%;
        background-image: url(../images/icon-check.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
    }
  }
}

@mixin placeholder {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: $font-size;
  font-weight: $font-weight-min;
  color: $theme-1-Very-Dark-Grayish-Blue;

  &.fade-in-ph {
    animation: fadeIn-ph 0.5s forwards;
  }
}

@mixin taskbar-properties {
  .taskbar {
    @include u-flex-space-between();
    background-color: white;
    padding: 18px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.1);
    animation: fadeIn 0.5s forwards;

    button {
      background: none;
      border: none;
      outline: none;
      color: $theme-1-Dark-Grayish-Blue;
      font-weight: $font-weight-min;
      cursor: pointer;
      transition: all 250ms ease;
    }

    &__counter {
      color: $theme-1-Dark-Grayish-Blue;
      pointer-events: none;
    }

    &__filter {
      button:not(:focus):hover {
        color: $theme-1-Very-Dark-Grayish-Blue;
      }

      .focus-state {
        color: $primary-color;
      }
    }

    &__clear {
      &:hover {
        color: $theme-1-Very-Dark-Grayish-Blue;
      }
    }
  }
}

@mixin app-notice {
  color: $theme-1-Dark-Grayish-Blue;
  font-size: 0.8rem;
  margin-top: 35px;
  text-align: center;
}
