$primary-color: hsl(220, 98%, 61%);
$bg-linear-gradient: linear-gradient(
  to bottom right,
  hsl(192, 100%, 67%),
  hsl(280, 87%, 65%)
);

$theme-1-Very-Light-Gray: hsl(0, 0%, 98%);
$theme-1-Very-Light-Grayish-blue: hsl(236, 33%, 92%);
$theme-1-Light-Grayish-Blue: hsl(233, 11%, 84%);
$theme-1-Dark-Grayish-Blue: hsl(236, 9%, 61%);
$theme-1-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
$theme-1-title-color: white;

$theme-2-Very-Dark-Blue: hsl(235, 21%, 11%);
$theme-2-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
$theme-2-Light-Grayish-Blue: hsl(234, 39%, 85%);
$theme-2-Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
$theme-2-Dark-Grayish-Blue: hsl(234, 11%, 52%);
$theme-2-Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
$theme-2-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

$font-weight-min: 400;
$font-weight-max: 700;
$font-size: 1.1rem;
$font-family: "Josefin Sans", Arial, sans-serif;

@mixin general-config {
  * {
    margin: 0;
    font-family: $font-family;
  }
}

@mixin app-general-config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 550px;
  margin-top: 70px;

  &__container {
    width: 100%;
  }
}

@mixin body-configuration {
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: 45vh;
}

@mixin app-title-config {
  font-size: 2.1rem;
  letter-spacing: 10px;
  font-weight: $font-weight-max;
  color: white;
}

@mixin header-gen-config {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &--icon {
    cursor: pointer;
  }
}

@mixin input-wrapper-config {
  display: flex;
  background-color: white;
  padding: 24px;
  border-radius: 5px;
  margin-bottom: 25px;

  .radio-wrapper {
    display: inline-block;
    margin-right: 15px;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $theme-1-Light-Grayish-Blue;
    display: inline-block;
  }

  input[type="text"] {
    width: 100%;
    border: none;
    outline: none;
    font-size: $font-size;
  }
}
