@import "./config";

@include general-config();

body {
  background-image: url("../images/bg-desktop-dark.jpg");
  background-color: $theme-2-Very-Dark-Blue;
  @include body-configuration();
}

.app {
  @include app-general-config();

  &__header {
    @include header-gen-config();

    &--title {
      @include app-title-config();
    }
  }

  &__input--wrapper {
    @include input-wrapper-config();
    background-color: $theme-2-Very-Dark-Desaturated-Blue;

    input[type="checkbox"] {
      border: 1px solid $theme-1-Very-Dark-Grayish-Blue;
    }

    input[type="text"] {
      background-color: $theme-2-Very-Dark-Desaturated-Blue;
      color: $theme-2-Light-Grayish-Blue;
    }
  }

  &__todo--container {
    @include todo-container-properties();

    .todo {
      background-color: $theme-2-Very-Dark-Desaturated-Blue;
      //border-top: 1px solid white;
      border-bottom: 1px solid $theme-2-Very-Dark-Grayish-Blue;

      &__content {
        color: $theme-2-Light-Grayish-Blue;
      }

      .checked-state {
        color: $theme-1-Very-Dark-Grayish-Blue;
      }

      &__selector {
        border: 1px solid $theme-1-Very-Dark-Grayish-Blue;

        &:not(:checked):hover::after {
          background-color: $theme-2-Very-Dark-Desaturated-Blue;
        }
      }

      &__placeholder {
        background-color: $theme-2-Very-Dark-Desaturated-Blue;
        padding: 20px;
        border-radius: 5px;
        font-size: $font-size;
        font-weight: $font-weight-min;
        color: $theme-2-Light-Grayish-Blue;
      }
    }
  }

  &__taskbar--wrapper {
    @include taskbar-properties();

    .taskbar {
      background-color: $theme-2-Very-Dark-Desaturated-Blue;

      button {
        color: $theme-1-Dark-Grayish-Blue;
      }

      &__counter {
        color: $theme-1-Very-Dark-Grayish-Blue;
      }

      &__filter {
        button:not(:focus):hover {
          color: $theme-2-Light-Grayish-Blue-hover;
        }
      }

      &__clear {
        &:hover {
          color: $theme-2-Light-Grayish-Blue-hover;
        }
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
