@import "./modules/config";
@import "./modules/mixins";
@import "./modules/media-queries";

@include general-config();

@include fade-in-out-anim();

body {
  background-image: url("../images/bg-desktop-dark.jpg");
  background-color: $theme-2-Very-Dark-Blue;
  @include body-configuration();
}

.app {
  @include app-general-config();

  &__header {
    @include header-gen-config();

    &--title {
      @include app-title-config();
    }
  }

  &__input--wrapper {
    @include input-wrapper-config();
    background-color: $theme-2-Very-Dark-Desaturated-Blue;

    input[type="checkbox"] {
      border: 1px solid $theme-1-Very-Dark-Grayish-Blue;
    }

    input[type="text"] {
      background-color: $theme-2-Very-Dark-Desaturated-Blue;
      color: $theme-2-Light-Grayish-Blue;
    }
  }

  &__todo--container {
    @include todo-container-properties();
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);

    .todo {
      background-color: $theme-2-Very-Dark-Desaturated-Blue;
      border-bottom: 1px solid $theme-2-Very-Dark-Grayish-Blue;

      &__content {
        color: $theme-2-Light-Grayish-Blue;
      }

      .checked-state {
        color: $theme-1-Very-Dark-Grayish-Blue;
      }

      &__selector {
        border: 1px solid $theme-1-Very-Dark-Grayish-Blue;

        &:not(:checked):hover::after {
          background-color: $theme-2-Very-Dark-Desaturated-Blue;
        }
      }
    }
  }

  &__placeholder {
    @include placeholder();
    background-color: $theme-2-Very-Dark-Desaturated-Blue;
    color: $theme-2-Light-Grayish-Blue;
  }

  &__taskbar--wrapper {
    @include taskbar-properties();
    box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.7);

    .taskbar {
      background-color: $theme-2-Very-Dark-Desaturated-Blue;

      button {
        color: $theme-1-Dark-Grayish-Blue;
      }

      &__counter {
        color: $theme-1-Dark-Grayish-Blue;
      }

      &__filter {
        button:not(:focus):hover {
          color: $theme-2-Light-Grayish-Blue-hover;
        }
      }

      &__clear {
        &:hover {
          color: $theme-2-Light-Grayish-Blue-hover;
        }
      }
    }
  }

  &__notice {
    @include app-notice();
    color: $theme-1-Very-Dark-Grayish-Blue;
  }
}

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }
// .attribution a {
//   color: hsl(228, 45%, 44%);
// }

@include media-queries();

@media screen and (max-width: 405px) {
  .taskbar__filter {
    background-color: $theme-2-Very-Dark-Desaturated-Blue;
    box-shadow: 0 20px 20px rgba($color: #000000, $alpha: 0.7);
  }
}

@media screen and (max-width: 375px) {
  body {
    background-image: url("../../images/bg-mobile-dark.jpg");
  }
}
