@import "./config";

@include general-config();

body {
  background-image: url("../images/bg-desktop-dark.jpg");
  background-color: $theme-2-Very-Dark-Blue;
  @include body-configuration();
}

.app {
  @include app-general-config();

  &__header {
    @include header-gen-config();

    &--title {
      @include app-title-config();
    }
  }

  &__input--wrapper {
    @include input-wrapper-config();
    background-color: $theme-2-Very-Dark-Blue;

    input[type="radio"] {
      border: 1px solid $theme-2-Very-Dark-Grayish-Blue;
    }

    input[type="text"] {
      background-color: $theme-2-Very-Dark-Blue;
      color: $theme-2-Light-Grayish-Blue;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
