@import "./config";

@include general-config();

body {
  background-image: url("../images/bg-desktop-light.jpg");
  @include body-configuration();
}

.app {
  @include app-general-config();

  &__header {
    @include header-gen-config();

    &--title {
      @include app-title-config();
    }
  }

  &__input--wrapper {
    @include input-wrapper-config();
  }

  &__todo--container {
    @include todo-container-properties();
  }

  &__taskbar--wrapper {
    @include taskbar-properties();
  }

  &__notice {
    @include app-notice();
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
